In [120]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("D:/Download/spaceship-titanic/test.csv")

df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [121]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [122]:
age_mean = df['Age'].mean()
df['Age'].fillna(age_mean, inplace = True)

home = df['HomePlanet'].mode()[0]
df['HomePlanet'].fillna(home, inplace = True)

Cryo_mode = df['CryoSleep'].mode()[0]
df['CryoSleep'].fillna(Cryo_mode, inplace = True)

dest = df['Destination'].mode()[0]
df['Destination'].fillna(dest, inplace = True)

vip_mode = df['VIP'].mode()[0]
df['VIP'].fillna(vip_mode, inplace = True)

room = df['RoomService'].mean()
df['RoomService'].fillna(room, inplace = True)

food_mean = df['FoodCourt'].mean()
df['FoodCourt'].fillna(food_mean, inplace = True)

shopping = df['ShoppingMall'].mean()
df['ShoppingMall'].fillna(shopping, inplace = True)

spa_mean = df['Spa'].mean()
df['Spa'].fillna(spa_mean, inplace = True)

vrdeck_mean = df['VRDeck'].mean()
df['VRDeck'].fillna(vrdeck_mean, inplace = True)

Name_mode = df['Name'].mode()[0]
df['Name'].fillna(Name_mode, inplace = True)

Cabin_mode = df['Cabin'].mode()[0]
df['Cabin'].fillna(Cabin_mode, inplace = True)

C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_mean, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['HomePlanet'].fillna(home, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CryoSleep'].fillna(Cryo_mode, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CryoSleep'].fillna(Cryo_mode, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Destination'].fillna(dest, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIP'].fillna(vip_mode, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['VIP'].fillna(vip_mode, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RoomService'].fillna(room, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FoodCourt'].fillna(food_mean, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ShoppingMall'].fillna(shopping, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Spa'].fillna(spa_mean, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VRDeck'].fillna(vrdeck_mean, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna(Name_mode, inplace = True)
C:\Users\swobo\AppData\Local\Temp\ipykernel_1888\1212783315.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(Cabin_mode, inplace = True)

In [123]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
dtype: int64

In [124]:
scaler = MinMaxScaler()

scaler.fit(df[['Age']])
df['Age'] = scaler.transform(df[['Age']])

scaler.fit(df[['RoomService']])
df['RoomService'] = scaler.transform(df[['RoomService']])

scaler.fit(df[['FoodCourt']])
df['FoodCourt'] = scaler.transform(df[['FoodCourt']])

scaler.fit(df[['ShoppingMall']])
df['ShoppingMall'] = scaler.transform(df[['ShoppingMall']])

scaler.fit(df[['Spa']])
df['Spa'] = scaler.transform(df[['Spa']])

scaler.fit(df[['VRDeck']])
df['VRDeck'] = scaler.transform(df[['VRDeck']])

In [125]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,0.341772,False,0.000000,0.000000,0.00000,0.000000,0.000000,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,0.240506,False,0.000000,0.000356,0.00000,0.142260,0.000000,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,0.392405,False,0.000000,0.000000,0.00000,0.000000,0.000000,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,0.481013,False,0.000000,0.263206,0.00000,0.009121,0.026266,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,0.253165,False,0.000865,0.000000,0.07658,0.000000,0.000000,Brence Harperez

In [130]:
le = LabelEncoder()

df = pd.get_dummies(df, columns=['Destination'], drop_first=True)

df = pd.get_dummies(df, columns=['HomePlanet'], drop_first=True)

df = pd.get_dummies(df, columns=['CryoSleep'], drop_first=True)

df = pd.get_dummies(df, columns=['VIP'], drop_first=True)

df['Name'] = le.fit_transform(df['Name'])

df['Cabin'] = le.fit_transform(df['Cabin'])

In [132]:
df.head()

,PassengerId,Cabin,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,VIP_True
0,0013_01,2784,0.341772,0.000000,0.000000,0.00000,0.000000,0.000000,2912,False,True,False,False,True,False
1,0018_01,1867,0.240506,0.000000,0.000356,0.00000,0.142260,0.000000,2406,False,True,False,False,False,False
2,0019_01,257,0.392405,0.000000,0.000000,0.00000,0.000000,0.000000,3376,False,False,True,False,True,False
3,0021_01,259,0.481013,0.000000,0.263206,0.00000,0.009121,0.026266,2711,False,True,True,False,False,False
4,0023_01,1940,0.253165,0.000865,0.000000,0.07658,0.000000,0.000000,668,False,True,False,False,False,False

In [133]:
df.to_csv("processed_titanic.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'processed_titanic.csv'